body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
}

.logo span {
  color: #2e2f42;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
}

.hero-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 48px auto 0;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
}

.hero-btn:hover {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
